  <header class="navbar">
    
    <div class="logo">
      
      <img src="/logo/logo.png" alt="logo">
      
    </div>
    
    <nav class="nav-links">
      <a routerLink="/">Home</a>
      <a routerLink="/testimonios">Overview</a>
      <a routerLink="/vecinos">Gallery</a>
      <a routerLink="/experiencias">Features</a>
      <a>Realtor</a>
      <a routerLink="/nosotros">Nosotros</a>
    </nav>
    
    <div class="auth-buttons">
      <button class="login">Login</button>
      <button class="signup">Sign Up</button>
    </div>
  </header>